﻿@model KC_Applications.Models.Contractor
@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>E-mailing Approval to Contractor</h2>

@using (Html.BeginForm("EmailApproval", "Contractors")) {
    <div class="form-group">
    </div>
    @Html.HiddenFor(m => m.ContractorId)
    <button type="submit" class="btn btn-primary">Ok</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
