﻿@model KC_Applications.ViewModels.ContractorFormViewModel

@{
    ViewBag.Title = "EditForm";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>Edit Contractor</h2>

@using (Html.BeginForm("Save", "Contractors")) {
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ContractorFirstName)
        @Html.TextBoxFor(m => m.Contractor.ContractorFirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ContractorFirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ContractorLastName)
        @Html.TextBoxFor(m => m.Contractor.ContractorLastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ContractorLastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ContractorEmail)
        @Html.TextBoxFor(m => m.Contractor.ContractorEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ContractorEmail)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.LinkedInPage)
        @Html.TextBoxFor(m => m.Contractor.LinkedInPage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.LinkedInPage)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ExpertiseId)
        @Html.DropDownListFor(m => m.Contractor.ExpertiseId, new SelectList(Model.Expertises, "Id", "ExpertiseName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ExpertiseId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.RegionId)
        @Html.DropDownListFor(m => m.Contractor.RegionId, new SelectList(Model.Regions, "Id", "RegionName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.RegionId)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Contractor.isContractorFreeToWork) Busy?
        </label>
    </div>
    @Html.HiddenFor(m => m.Contractor.ContractorId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
