﻿@model List<KC_Applications.Models.ServiceofKC>
@{
    ViewBag.Title = "Financial";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>Your Financial Statement for this Month</h2>
<br/>
@if (Model.Count == 0) {
    <p>You have not had any contracts this month</p>
}
else {
    var monthTotalIncome = (double)0;
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Date</th>
                <th>Contractor Income Before Tax</th>
                <th>Service Total Income</th>
                <th>Contractor % Income</th>
                <th>Income Tax Expense</th>
                <th>Net Income After Taxes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model) {
                var serviceTotal = @service.InventoryPrice + @service.ExpertisePrice;
                var percentIncome = Math.Ceiling(service.ExpertisePrice / (service.InventoryPrice + service.ExpertisePrice) * 100);
                var incomeTax = 0.1 * @service.ExpertisePrice;
                var netIncomeAfter = @service.ExpertisePrice - incomeTax;
                monthTotalIncome += netIncomeAfter;
                <tr>
                    <th scope="row">@service.DateApproved.ToString().Substring(0,10)</th>
                    <td>@service.ExpertisePrice LBP</td>
                    <td>@serviceTotal LBP</td>
                    <td align="center">@percentIncome%</td>
                    <td align="center">@incomeTax LBP</td>
                    <td align="center">@netIncomeAfter LBP</td>
                </tr>
            }
        </tbody>
</table>
    <br/>
    <p><strong>Total Income this Month: </strong>@monthTotalIncome LBP</p>

}
