﻿@model IEnumerable<KC_Applications.Models.Contractor>
@*
    Note: I've set the model for this view to IEnumerable<Contractor>.
    This is a simple interface implemented by the list class. Since
    in this view we only want to iterate over this list, and we don't
    need any of the operations in the List class (eg Add, Remove, etc),
    it's better to use the IEnumerable interface, which allows use to
    iterate over the list. If in the future, we replace the List with a
    different data structure, as long as it is enumerable, our view code
    will remain unchanged.
*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Contractors</h2>


<table id="contractors" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Region</th>
            <th>Expertise</th>
            <th>E-mail</th>
            <th>Linked In</th>
            <th>Approved</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        //Standard jQuery document.ready
        $(document).ready(function () {
            //Calling DataTable on our contractors table for pagination, sorting and filtering
            //We added var table to use table when we delete to redraw the table
            var table = $("#contractors").DataTable({
                //Everything in here is to use our api (client) as a source of Data instead of our MVC constructor (server)
                //DataTable is an object and the stuff below are its properties
                //ajax is a property that is also an object
                ajax: {
                    url: "/api/contractors",
                    //our api is returning only an array of contractors. If it returned another thing like count, then we need to specify contractors in the dataSrc
                    dataSrc: ""
                },
                //columns property which is also an object
                columns: [
                    {
                        //render adds link href to the data, that comes from the ContractorFirstName property
                        data: "contractorFirstName",
                        render: function (data, type, contractor) {
                            return "<a href='/contractors/edit/" + contractor.contractorId + "'>" + contractor.contractorFirstName + "</a>";
                        }
                    },
                    {
                        //render adds link href to the data, that comes from the ContractorFirstName property
                        data: "contractorLastName",
                        render: function (data, type, contractor) {
                            return "<a href='/contractors/edit/" + contractor.contractorId + "'>" + contractor.contractorLastName + "</a>";
                        }
                    },
                    {
                        data: "region.regionName"
                    },
                    {
                        data: "expertise.expertiseName"
                    },




                    {
                        data: "contractorEmail",
                        render: function (data, type, contractor) {
                            return "<a href='/Contractors/Contact/" + contractor.contractorId + "'>" + contractor.contractorEmail + "</a>";
                        }
                    },
                    {
                        data: "linkedInPage",
                        render: function (data, type, contractor) {
                            return "<a href='" + contractor.linkedInPage + "'>" + contractor.contractorFirstName + "'s LinkedIn" + "</a>";

                        }
                    },
                    {
                        data: "isAccepted",
                        render: function (data, type, contractor) {
                            var display = "Under Review";
                            if (contractor.isAccepted == true) {
                                display = "Approved";
                                return display;
                            } else {
                                return "<button class='btn-link js-approve' data-contractor-id=" + contractor.contractorId + ">Under Review</button>";
                            }
                            
                        }
                    },
                    {
                        data: "isContractorFreeToWork",
                        render: function (data, type, contractor) {
                            var display = "Free";
                            if (contractor.isContractorFreeToWork == true) {
                                display = "Busy";
                                return "<a style='color:red' href='/contractors/edit/" + contractor.contractorId + "'>" + display + "</a>";
                            } else {
                                return "<a style='color:green' href='/contractors/edit/" + contractor.contractorId + "'>" + display + "</a>";

                            }
                        }

                    },




                    {
                        data: "contractorId",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-contractor-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            //Get our table with contractors ID, call our onClick for any tag with class = ".js-delete"
            $("#contractors").on("click", ".js-delete", function () {
                //This var is used below
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this Contractor?", function (result) {
                    if (result) {
                        //We call our api using jQuery AJAX object
                        $.ajax({
                            //api/contractors/id We got our ID from the button we rendered in the jQuery function above
                            url: "/api/contractors/" + button.attr("data-contractor-id"),
                            method: "DELETE",
                            //method is DELETE, it deletes the contractor from database
                            //on success the function is called, it deletes the row from our table
                            success: function () {
                                //we see that tr is the parent, we remove it, then draw to refresh table
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });


            $("#contractors").on("click", ".js-approve", function () {
                //This var is used below
                var button = $(this);

                bootbox.confirm("Are you sure you want to approve this Contractor?", function (result) {
                    if (result) {
                        //We call our api using jQuery AJAX object
                        $.ajax({
                            //api/contractors/id We got our ID from the button we rendered in the jQuery function above
                            url: "/contractors/EmailApproval/" + button.attr("data-contractor-id"),
                            //method is DELETE, it deletes the contractor from database
                            //on success the function is called, it deletes the row from our table
                            success: function () {
                                //we see that tr is the parent, we remove it, then draw to refresh table
                                window.location.reload(true);
                            }
                        });
                    }
                });
            });



        });
    </script>
}
