﻿
@{
    ViewBag.Title = "RequestSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Request Successful</h2>
<br/>
<h4>You will be replied in 2 business days on the e-mail you provided</h4>
<h4>Thank you for your interest</h4>

