﻿@model KC_Applications.ViewModels.ContractorFormViewModel
@{
    ViewBag.Title = "Vacancies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vacancies</h2>


@using (Html.BeginForm("RequestForApproval", "Contractors")) {
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ContractorFirstName)
        @Html.TextBoxFor(m => m.Contractor.ContractorFirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ContractorFirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ContractorLastName)
        @Html.TextBoxFor(m => m.Contractor.ContractorLastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ContractorLastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ContractorEmail)
        @Html.TextBoxFor(m => m.Contractor.ContractorEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ContractorEmail)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.LinkedInPage)
        @Html.TextBoxFor(m => m.Contractor.LinkedInPage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.LinkedInPage)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ExpertiseId)
        @Html.DropDownListFor(m => m.Contractor.ExpertiseId, new SelectList(Model.Expertises, "Id", "ExpertiseName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ExpertiseId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.RegionId)
        @Html.DropDownListFor(m => m.Contractor.RegionId, new SelectList(Model.Regions, "Id", "RegionName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.RegionId)
    </div>
    @Html.HiddenFor(m => m.Contractor.ContractorId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Send</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
