﻿@model KC_Applications.Models.ServiceofKC
@{
    ViewBag.Title = "ApproveService";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Approve Service</h2>

<form id="approveOrder">
    <div class="form-group">


        <div class="form-group">
            <label>Customer First Name</label>
            @Html.TextBoxFor(m => m.CustomerFirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Customer Last Name</label>
            @Html.TextBoxFor(m => m.CustomerLastName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Service Title</label>
            @Html.TextBoxFor(m => m.ServiceTitle, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Service Description</label>
            @Html.TextBoxFor(m => m.ServiceDescription, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label style="color:darkred">Assign Contractor</label>
            <div class="tt-container">
                <input id="contractor" name="contractor" value="" required = "required" class="form-control" />
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.ServiceofKCId, new { id = "ServiceofKCId" })
    <button class="btn btn-primary">Submit</button>
</form>


@section scripts
{
    <script>
        $(document).ready(function () {

            var vm = {
            };
            vm.serviceofKCId = $("#ServiceofKCId").val();

                    
            var contractors = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('contractorFirstName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/assignContractor?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });


           $('#contractor').typeahead(null, {
                name: 'contractors',
                display: 'contractorFirstName',
                source: contractors,
                templates: {
                    empty: [
                      '<div class="empty-message">',
                        'unable to find any Contractor that match the current query',
                      '</div>'
                    ].join('\n'),
                    suggestion: function (data) {
                        return '<p><strong>' + data.contractorFirstName + '</strong> – ' + data.contractorLastName + '</p>';
                    }
                }
           }).on("typeahead:select", function (e, contractor) {
               vm.contractorId = contractor.contractorId;
           });





            $("#approveOrder").submit(function (e){
                e.preventDefault();
                    $.ajax({
                        url: "/api/approveOrders",
                        method: "post",
                        data: vm,
                        success: function () {
                            //we see that tr is the parent, we remove it, then draw to refresh table
                            //toastr.success("Rentals successfully recorded.");
                            window.location = '/Orders/EmailApproved/' + vm.serviceofKCId;
                        },
                        error: function (ajaxContext) {
                            toastr.error("Please select a Contractor");
                        }
                    })
                    .done(function () {

                        console.log("done");

                        //toastr.success("Rentals successfully recorded.");

                        //$("#customer").typeahead("val", "");
                        //$("#movie").typeahead("val", "");
                        //$("#movies").empty();

                        //vm = { movieIds: [] };

                        //validator.resetForm();
                    })
                    .fail(function () {
                        //toastr.error("Something unexpected happened.");
                    });

            });

        });
    </script>
}