﻿@model KC_Applications.ViewModels.ServiceofKCFormViewModel

@{
    ViewBag.Title = "EditForm";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit Contractor</h2>

@using (Html.BeginForm("Save", "ServiceofKCs")) {
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceofKC.RegionofCustomerId)
        @Html.DropDownListFor(m => m.ServiceofKC.RegionofCustomerId, new SelectList(Model.RegionofCustomers, "RegionofCustomerId", "RegionofCustomerName"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ServiceofKC.RegionofCustomerId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceofKC.CustomerFirstName)
        @Html.TextBoxFor(m => m.ServiceofKC.CustomerFirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ServiceofKC.CustomerFirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceofKC.CustomerLastName)
        @Html.TextBoxFor(m => m.ServiceofKC.CustomerLastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ServiceofKC.CustomerLastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceofKC.CustomerEmail)
        @Html.TextBoxFor(m => m.ServiceofKC.CustomerEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ServiceofKC.CustomerEmail)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceofKC.CustomerNumber)
        @Html.TextBoxFor(m => m.ServiceofKC.CustomerNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ServiceofKC.CustomerNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceofKC.ServiceTitle)
        @Html.TextBoxFor(m => m.ServiceofKC.ServiceTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ServiceofKC.ServiceTitle)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceofKC.ServiceDescription)
        @Html.TextBoxFor(m => m.ServiceofKC.ServiceDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ServiceofKC.ServiceDescription)
    </div>
    <div class="form-group">
        <label>Urgency</label>
        @Html.TextBoxFor(m => m.ServiceofKC.UrgencyDate, new { @type = "date", @class = "form-control", @placeholder = "mm/dd/yyyy", data_val_date = "Please input a date in \"mm/dd/yyyy\" format" })
        @Html.ValidationMessageFor(m => m.ServiceofKC.UrgencyDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceofKC.Status)
        @Html.DropDownListFor(m => m.ServiceofKC.Status, new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "Request" },
                       new SelectListItem { Value = "2" , Text = "Pending" },
                       new SelectListItem { Value = "3" , Text = "Approved" },
                       new SelectListItem { Value = "4" , Text = "Declined" },
                    }, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ServiceofKC.Status)
    </div>

    @Html.HiddenFor(m => m.ServiceofKC.ServiceofKCId)
    @Html.HiddenFor(m => m.ServiceofKC.RegionofCustomerId)
    @Html.HiddenFor(m => m.ServiceofKC.DateRequested)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Send</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
