﻿@model List<KC_Applications.Models.ServiceofKC>
@{
    ViewBag.Title = "Income";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Income Statement</h2>
<h5>For the current month</h5>
<br/>
@if (Model.Count == 0) {
    <p>The company hasn't made any income yet this month</p>
}
else {
    var Sales = (double)0;
    var COGS = (double)0;
    var GrossProfit = (double)0;
    var ContractorExpense = (double)0;
    var InterestIncome = (double)0;
    var PretaxIncome = (double)0;

    var IncomeTaxes = (double)0;
    var NetIncome = (double)0;

    foreach (var service in Model) {
        Sales += @service.InventoryPrice;
        COGS += @service.InventoryCOG;

        ContractorExpense += @service.ExpertisePrice;


    }
    InterestIncome = (ContractorExpense * 0.1);
    GrossProfit = (Sales - COGS);
    PretaxIncome = GrossProfit + InterestIncome - ContractorExpense;
    IncomeTaxes = 0.05 * PretaxIncome;
    NetIncome = PretaxIncome - IncomeTaxes;
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th></th>
                <th></th>
           </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Sales</th>
                <td>@Sales LBP</td>
            </tr>
            <tr>
                <th scope="row">Cost of Goods Sold</th>
                <td>@COGS LBP</td>
            </tr>
            <tr>
                <th scope="row">Gross Profit</th>
                <td>@GrossProfit LBP</td>
            </tr>
            <tr>
                <th scope="row">Contractor Expense</th>
                <td>@ContractorExpense LBP</td>
            </tr>
            <tr>
                <th scope="row">Interest Income</th>
                <td>@InterestIncome LBP</td>
            </tr>
            <tr>
                <th scope="row">Pretax Income</th>
                <td>@PretaxIncome LBP</td>
            </tr>
            <tr>
                <th scope="row">Income Taxes</th>
                <td>@IncomeTaxes LBP</td>
            </tr>
            <tr>
                <th scope="row">Net Income</th>
                <td>@NetIncome LBP</td>
            </tr>


        </tbody>
    </table>
    <br />

}
