﻿@model IEnumerable<KC_Applications.Models.ServiceofKC>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Services</h2>

<table id="serviceofKCs" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Region</th>
            <th>Phone</th>
            <th>E-mail</th>
            <th>Date Requested</th>
            <th>Urgency</th>
            <th>Status</th>
            <th>Quote</th>
            <th>Approve</th>
            <th>Decline</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        //Standard jQuery document.ready
        $(document).ready(function () {
            //Calling DataTable on our serviceofKCs table for pagination, sorting and filtering
            //We added var table to use table when we delete to redraw the table
            var table = $("#serviceofKCs").DataTable({
                //Everything in here is to use our api (client) as a source of Data instead of our MVC constructor (server)
                //DataTable is an object and the stuff below are its properties
                //ajax is a property that is also an object
                ajax: {
                    url: "/api/serviceofKCs",
                    //our api is returning only an array of serviceofKCs. If it returned another thing like count, then we need to specify serviceofKCs in the dataSrc
                    dataSrc: ""
                },
                //columns property which is also an object
                columns: [
                    {
                        //render adds link href to the data, that comes from the ContractorFirstName property
                        data: "serviceTitle",
                        render: function (data, type, serviceofKC) {
                            return "<a href='/serviceofKCs/edit/" + serviceofKC.serviceofKCId + "'>" + serviceofKC.serviceTitle + "</a>";
                        }
                    },
                    {
                        //render adds link href to the data, that comes from the ContractorFirstName property
                        data: "customerFirstName",
                        data: "customerLastName",
                        render: function (data, type, serviceofKC) {
                            return serviceofKC.customerFirstName + " " + serviceofKC.customerLastName;
                        }
                    },
                    {
                        data: "regionofCustomer.regionofCustomerName"
                    },
                    {
                        data: "customerNumber"
                    },




                    {
                        data: "customerEmail",
                        render: function (data, type, serviceofKC) {
                            return "<a href='/serviceofKCs/Contact/" + serviceofKC.serviceofKCId + "'>" + serviceofKC.customerEmail + "</a>";
                        }
                    },
                    {
                        data: "dateRequested",
                        render: function (data, type, serviceofKC) {
                            return serviceofKC.dateRequested.substring(0, 10);
                        }
                    },
                    {
                        data: "urgencyDate",
                        render: function (data, type, serviceofKC) {
                            var display = "Under Review";
                            if (serviceofKC.urgencyDate == null) {
                                display = "Not Urgent";
                                return display;
                            } else {
                                return serviceofKC.urgencyDate.substring(0,10);
                            }

                        }
                    },
                    {
                        data: "status",
                        render: function (data, type, serviceofKC) {
                            var display = "Under Review";
                            if (serviceofKC.status == 1) {
                                display = "Request";
                                return display;
                            } else if (serviceofKC.status == 2) {
                                display = "Pending";
                                return display;
                            } else if (serviceofKC.status == 3) {
                                display = "Approved";
                                return display;
                            } else if (serviceofKC.status == 4) {
                                display = "Declined";
                                return display;
                            }

                        }
                    },

                     {
                         data: "serviceofKCId",
                         render: function (data, type, serviceofKC) {
                             if (serviceofKC.status == 1) {
                                 return "<button class='btn-link js-generate' data-serviceofKC-id=" + data + ">Generate</button>";
                             }
                             return "Generated";
                         }
                     },

                    {
                        data: "serviceofKCId",
                        render: function (data, type, serviceofKC) {
                            if (serviceofKC.status == 3) {
                                return "Approved";
                            } else if (serviceofKC.status == 1) {
                                return "Quote First";
                            }
                            return "<button class='btn-link js-approve' data-serviceofKC-id=" + data + ">Approve</button>";
                        }
                    },


                    {
                        data: "serviceofKCId",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-serviceofKC-id=" + data + ">Remove</button>";
                        }
                    }
                ]
            });

            //Get our table with serviceofKCs ID, call our onClick for any tag with class = ".js-delete"
            $("#serviceofKCs").on("click", ".js-delete", function () {
                //This var is used below
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this Service?", function (result) {
                    if (result) {
                        //We call our api using jQuery AJAX object
                        $.ajax({
                            //api/serviceofKCs/id We got our ID from the button we rendered in the jQuery function above
                            url: "/api/serviceofKCs/" + button.attr("data-serviceofKC-id"),
                            method: "DELETE",
                            //method is DELETE, it deletes the serviceofKC from database
                            //on success the function is called, it deletes the row from our table
                            success: function () {
                                //we see that tr is the parent, we remove it, then draw to refresh table
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

            $("#serviceofKCs").on("click", ".js-generate", function () {
                //This var is used below
                var button = $(this);

                bootbox.confirm("Are you sure you want to generate a quote for this Customer?", function (result) {
                    if (result) {
                        window.location = '/Orders/New/' + button.attr("data-serviceofKC-id");
                    }
                });
            });


            $("#serviceofKCs").on("click", ".js-approve", function () {
                //This var is used below
                var button = $(this);

                bootbox.confirm("Are you sure you want to approve this Service?", function (result) {
                    if (result) {
                        window.location = '/serviceofKCs/ApproveService/' + button.attr("data-serviceofKC-id");
                    }
                });
            });



        });
    </script>
}
