﻿
@{
    ViewBag.Title = "InventoryIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Inventory</h2>


<table id="localinventories" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Selling Price</th>
            <th>COG</th>
            <th>Number in Stock</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        //Standard jQuery document.ready
        $(document).ready(function () {
            //Calling DataTable on our localinventories table for pagination, sorting and filtering
            //We added var table to use table when we delete to redraw the table
            var table = $("#localinventories").DataTable({
                //Everything in here is to use our api (client) as a source of Data instead of our MVC constructor (server)
                //DataTable is an object and the stuff below are its propertieslocalinventory
                //ajax is a property that is also an object
                ajax: {
                    url: "/api/LocalInventories",
                    //our api is returning only an array of localinventorys. If it returned another thing like count, then we need to specify localinventorys in the dataSrc
                    dataSrc: ""
                },
                //columns property which is also an object
                columns: [
                    {
                        //render adds link href to the data, that comes from the ContractorFirstName property
                        data: "localInventoryName",
                    },
                    {
                        //render adds link href to the data, that comes from the ContractorFirstName property
                        data: "price",
                    },
                   
                    {
                        data: "cog",
                    },
                    {
                        data: "numberInStock",
                        render: function (data, type, localinventory) {
                            if (localinventory.numberInStock == 9999999)
                                return "INF";
                            return localinventory.numberInStock;
                        }
                    }




                ]
            });

        });
    </script>
}
