﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @*<a href="@Url.Action("Index", "Home")" title="KC Applications" class="links">
                <img alt="KC Applications" src="~/App_Data/logo_KC.png" style="width:30px">
            </a>*@

                @Html.ActionLink("KC Applications", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Services", "Index", "ServiceofKCs")</li>
                <li>@Html.ActionLink("Contractors", "Index", "Contractors")</li>
                <li>@Html.ActionLink("Inventory", "InventoryIndex", "ServiceofKCs")</li>
                <li>@Html.ActionLink("Income", "Income", "ServiceofKCs")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
