﻿@{
    ViewBag.Title = "About";
}

<br/>

<h2><strong>The Start</strong></h2>
<br />
<p>Founded in 2011 by two AUB students, KC Applications has grown to become the highest rated online solutions provider.</p>
<br />
<h2><strong>List of Services</strong></h2>
<br />
<p>Our Services range from software solutions, to connecting you to contractors who provide hardware solutions. Software solutions range from mobile apps to web apps.</p>
