﻿@model KC_Applications.Models.ServiceofKC
@{
    ViewBag.Title = "CheckRegion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please Input your Order Information</h2>

@using (Html.BeginForm("RequestForOrder", "Home")) {
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerFirstName)
        @Html.TextBoxFor(m => m.CustomerFirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerFirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerLastName)
        @Html.TextBoxFor(m => m.CustomerLastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerLastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerEmail)
        @Html.TextBoxFor(m => m.CustomerEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerEmail)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerNumber)
        @Html.TextBoxFor(m => m.CustomerNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceTitle)
        @Html.TextBoxFor(m => m.ServiceTitle, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ServiceTitle)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ServiceDescription)
        @Html.TextBoxFor(m => m.ServiceDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ServiceDescription)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UrgencyDate)
        @Html.TextBoxFor(m => m.UrgencyDate, new { @type = "date", @class = "form-control", @placeholder= "mm/dd/yyyy", data_val_date = "Please input a date in \"mm/dd/yyyy\" format" })
        @Html.ValidationMessageFor(m => m.UrgencyDate)
    </div>
    @Html.HiddenFor(m => m.ServiceofKCId)
    @Html.HiddenFor(m => m.RegionofCustomerId)
    @Html.HiddenFor(m => m.DateRequested)
    @Html.HiddenFor(m => m.Status)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Send</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
