﻿@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h3>Our Office Address</h3>

<address>
    Hamra Street<br />
    Beirut, Lebanon<br />
    <abbr title="Phone">Phone:</abbr>
    01.340.822
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jxc02dev@gmail.com">support@kcapplications.com</a><br />
</address>