﻿@model KC_Applications.ViewModels.ContractorFormViewModel
@{
    ViewBag.Title = "CustomerOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerOrder</h2>

<div id="regions" class="form-group">
    <label>Please Select Area</label>
    @Html.DropDownListFor(m => m.Contractor.RegionId, new SelectList(Model.Regions, "Id", "RegionName"), "", new { @id = "ddl", @class = "form-control js-check" })
</div>


@section scripts
{
    <script>
        //Standard jQuery document.ready
        $(document).ready(function () {
            //Calling DataTable on our contractors table for pagination, sorting and filtering
            //We added var table to use table when we delete to redraw the table
            var ddl = $("#ddl");

            //Get our table with contractors ID, call our onClick for any tag with class = ".js-delete"
            $("#ddl").change(function () {
                //alert($("#ddl").val());

                //We call our api using jQuery AJAX object
                window.location = '/Home/CheckRegion/?query=' + ddl.val();
            });

        });
    </script>
}
