﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">Faster, Better, Gauranteed Service</h1>
    <br/>
    <p class="lead" align="center">Get the best contracting solution out there with almost instant response time.</p>
</div>

<br />
<br />
<h1 style="color:cornflowerblue" align="center"> Client Reviews </h1>
<div class="row">
    <div class="col-md-4">
        <h3 align="center">Ahmad Moeen</h3>
        <p align="center">
           With KC Applications, I experienced unprecedented professional service. Don't think twice, go with KC Applications.
        </p>
    </div>
    <div class="col-md-4">
        <h3 align="center">Sara Atrash</h3>
        <p align="center">Just as their missions statement says, they are fast! I got exactly what I wanted, exactly when I wanted it when I told them it was urgent.</p>
    </div>
    <div class="col-md-4">
        <h3 align="center">Haidar Saqal</h3>
        <p align="center">I have yet to see one failed order request from KC Applications. Their contractors are so professional it's almost like it's not of this world.</p>
    </div>
</div>