﻿
@{
    ViewBag.Title = "NoContractorInRegion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>We're Sorry, there are no Contractors in your Region.</h2>
<h3>Please try again soon</h3>
<h3>Thank you</h3>
