﻿
@{
    ViewBag.Title = "RequestSuccess";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<h2>Your Account is Under Review</h2>
<br />
<h4>An e-mail regarding your account activation will be sent in 2 business days on the e-mail you provided</h4>
<h4>Thank you for your interest</h4>


