﻿

@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Order has been sent</h2>
<br />
<h4>You will be replied on the e-mail you provided</h4>
<h4>Thank you for your interest</h4>