﻿
@model KC_Applications.Models.ServiceofKC
@{
    ViewBag.Title = "New Order Form";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quotation</h2>


<form id="newOrder">
    <div class="form-group">
        

        <div class="form-group">
            <label>Customer First Name</label>
            @Html.TextBoxFor(m => m.CustomerFirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Customer Last Name</label>
            @Html.TextBoxFor(m => m.CustomerLastName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Service Title</label>
            @Html.TextBoxFor(m => m.ServiceTitle, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Service Description</label>
            @Html.TextBoxFor(m => m.ServiceDescription, new { @class = "form-control" })
        </div>

        <div id="regions" class="form-group">
            <label style="color:darkred">Expertise Required</label>
            @Html.DropDownList("whatever", new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "Add/Upgrade Hardware" },
                       new SelectListItem { Value = "2" , Text = "Install/Upgrade Software" },
                       new SelectListItem { Value = "3" , Text = "Network Design and Implementation" },
                       new SelectListItem { Value = "4" , Text = "Troubleshoot Hardware and Software" },
                       new SelectListItem { Value = "5" , Text = "Software Training for Staff" },
                       new SelectListItem { Value = "6" , Text = "Hardware Training for Staff" },
                    }, "", new { @id = "ddl", @class = "form-control js-check", required = "required" })
        </div>    

        <div class="form-group">
            <label style="color:darkred">Select Product(s)</label>
            <div class="tt-container">
                <input id="inventory" name="inventory" value="" class="form-control" />
            </div>
        </div>

        
       
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="inventories" class="list-group"></ul>
        </div>
    </div>


    @Html.HiddenFor(m => m.ServiceofKCId, new { id = "ServiceofKCId" })
    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    <script>
        $(document).ready(function () {

            var vm = {
                localInventoryIds: []
            };
            vm.serviceofKCId = $("#ServiceofKCId").val();

            var ddl = $("#ddl");

            //Get our table with contractors ID, call our onClick for any tag with class = ".js-delete"
            $("#ddl").change(function () {
                //alert($("#ddl").val());

                //We call our api using jQuery AJAX object
                vm.ExpertiseId = ddl.val();
            });




            var inventories = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('localInventoryName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/localInventories?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#inventory').typeahead({
                minLength: 1,
                highlight: true
            }, {
                name: 'localInventories',
                display: 'localInventoryName',
                source: inventories
            }).on("typeahead:select", function (e, inventory) {
                $("#inventories").append("<li class='list-group-item'>" + inventory.localInventoryName + "</li>");

                $("#inventory").typeahead("val", "");

                vm.localInventoryIds.push(inventory.id);
                
            });







            $("#newOrder").submit(function (e){
                e.preventDefault();
                    $.ajax({
                        url: "/api/newOrders",
                        method: "post",
                        data: vm,
                        success: function () {
                            //we see that tr is the parent, we remove it, then draw to refresh table
                            window.location = '/Orders/EmailQuote/' + vm.serviceofKCId;
                        },
                        error: function (ajaxContext) {
                            toastr.error("Please add atleast one Product");
                        }
                    })
                    .done(function () {

                        console.log("done");

                        //toastr.success("Rentals successfully recorded.");

                        //$("#customer").typeahead("val", "");
                        //$("#movie").typeahead("val", "");
                        //$("#movies").empty();

                        //vm = { movieIds: [] };

                        //validator.resetForm();
                    })
                    .fail(function () {
                        //toastr.error("Something unexpected happened.");
                    });

            });

        });
    </script>
}
