﻿@model KC_Applications.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>Contractor Registration</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    <h4>Please enter your details.</h4>
    <h4>We will e-mail you the confirmation as soon as possible</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ContractorFirstName)
        @Html.TextBoxFor(m => m.Contractor.ContractorFirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ContractorFirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ContractorLastName)
        @Html.TextBoxFor(m => m.Contractor.ContractorLastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ContractorLastName)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>


  
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.LinkedInPage)
        @Html.TextBoxFor(m => m.Contractor.LinkedInPage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.LinkedInPage)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.ExpertiseId)
        @Html.DropDownListFor(m => m.Contractor.ExpertiseId, new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "Add/Upgrade Hardware" },
                       new SelectListItem { Value = "2" , Text = "Install/Upgrade Software" },
                       new SelectListItem { Value = "3" , Text = "Network Design and Implementation" },
                       new SelectListItem { Value = "4" , Text = "Troubleshoot Hardware and Software" },
                       new SelectListItem { Value = "5" , Text = "Software Training for Staff" },
                       new SelectListItem { Value = "6" , Text = "Hardware Training for Staff" },
                    }, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.ExpertiseId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contractor.RegionId)
        @Html.DropDownListFor(m => m.Contractor.RegionId, new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "Beirut" },
                       new SelectListItem { Value = "2" , Text = "Mount Lebanon" },
                       new SelectListItem { Value = "3" , Text = "North" },
                       new SelectListItem { Value = "4" , Text = "Beqaa" },
                       new SelectListItem { Value = "5" , Text = "Nabatieh" },
                       new SelectListItem { Value = "6" , Text = "South" },
                    }, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contractor.RegionId)
    </div>

    @Html.HiddenFor(m => m.Contractor.ContractorId)
    <button type="submit" class="btn btn-primary">Register</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

